<!-- Mathjax Support -->
<script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
</script>

<!-- jquery-->
<script type="text/javascript" async
  src="https://code.jquery.com/jquery-3.4.1.min.js">
</script>

<!-- music score -->
<script src="https://vexflow.com/releases/vextab-div.js"></script>

<!--link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script-->
<link rel="stylesheet" href="/assets/lightbox/src/css/lightbox.css">

<!--style>
.img-link, .img-link img {
   text-decoration: none !important;
   border:0px !important;
   outline:none;
   border-width: 0px;
   outline-width:0px;
   border-bottom: none;
}
</style-->
