<!-- Mathjax Support -->
<script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
</script>

<!-- jquery-->
<script type="text/javascript" async
  src="https://code.jquery.com/jquery-3.4.1.min.js">
</script>

<!-- music score -->
<script src="https://vexflow.com/releases/vextab-div.js"></script>

<!--link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script-->
<link rel="stylesheet" href="/assets/lightbox/src/css/lightbox.css">
<script src="/assets/lightbox/src/js/lightbox.js"></script>

<style>
.example-image-link {
  display: inline-block;
  padding: 4px;
  margin: 0 0.5rem 1rem 0.5rem;
  background-color: #f9f9f9;
  line-height: 0;
  border-radius: 8px;
}
.example-image-link:hover {
  background-color: #fc4c02;
}

.example-image {
  width: 7rem;
  border-radius: 6px;
}

</style>
