<!DOCTYPE html>
<html lang="en-US">
<head>
<!-- General meta -->
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.indexing == false %}
      <meta name="robots" content="noindex">
    {% endif %}

    {% if page.collectionpage %}
      {% seo title=false %}

      {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
      <title>{{ collectiondata.title }} - {{ site.title }}</title>
      <meta property="og:title" content="{{ collectiondata.title }}">
      <meta name="description" content="{{ collectiondata.description }}">
      <meta property="og:description" content="{{ collectiondata.description }}">
    {% else %}
      {% seo %}
    {% endif %}

    <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">
    <meta name="theme-color" content="{{ site.manifest.theme_color | default: '#242e2b' }}"/>

    {% if site.css_inline == true %}
      {% include site-styles.html %}
    {% else %}
      <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
    {% endif %}

    {% if site.favicons or site.avatarurl %}{% include site-favicons.html %}{% endif %}

    {% if site.google_analytics %}{% include site-analytics.html %}{% endif %}
<script type="text/javascript" async
    src="https://code.jquery.com/jquery-3.4.1.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.14/js/lightgallery.min.js" integrity="sha256-Bdl34cNKGW5tG973mPvbnWve2FGKfx2zjz23g8jgShM=" crossorigin="anonymous"></script>

<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.14/css/lightgallery.min.css" integrity="sha256-8rfHbJr+ju3Oc099jFJMR1xAPu8CTPHU8uP5J3X/VAY=" crossorigin="anonymous" /-->
</head>

<body>
    {% include site-icons.svg %}
    {% include site-header.html %}

<div id="aniimated-thumbnials">
{% for file in site.static_files %}{% unless file.path contains "thumb." %}{% if file.path contains page.folder %}{% assign filepath = file.path | relative_url %}{% assign thumbname = "thumb." | append: file.basename %}{% assign thumbpath = filepath | replace: file.basename, thumbname %}<a href="{{ filepath }}"><img src="{{ thumbpath }}" /></a>{% endif %}{% endunless %}{% endfor %}
</div>
{{ content }}

<script>
$('#aniimated-thumbnials').lightGallery({
    thumbnail:true
});
</script>

<script src="/assets/lg/lg-fullscreen.js"></script>
<script src="/assets/lg/lg-thumbnail.js"></script>
<script src="/assets/lg/lg-zoom.js"></script>
{% if site.service_worker != false %}{% include site-sw.html %}{% endif %}
{% include site-footer.html %}

</body>
</html>
